<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.realestate.avenuerealestateapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Avenue"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AvenueRealEstateApp">

        <activity
            android:name=".OnBoardActivity"
            android:exported="false" />
        <activity
            android:name=".Upload"
            android:exported="false" />

        <activity
            android:name=".HomePageActivity"
            android:exported="false" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Finish"
            android:exported="false" />

        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>